*{
    margin: 0;
    padding: 0;
}

body{
    /* background: url(assets/JoD.png); */
    font-family: 'Alegreya Sans SC', sans-serif;
    /*font-family: 'Bigelow Rules', cursive;*/
    color: white;
    text-shadow: 10px 10px 10px black;
    background: radial-gradient(ellipse at center, #29382c 0%, #0c100d 100%);

    background-size: cover;
    width: vw;
    height: vh;
    overflow-x: hidden;
    
}

.bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}
  
@keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
}

.title{
    width: 100%;
   
}

.title h1{
    font-size: 130px;
}

.menu{
    width: 100%;
    height: vh;
}

.btn{
    color: white;
    text-shadow: 10px 10px 10px black;
    font-size: 70px;
    transition: color .3s ease-in-out;

}

.btn:hover{ 
    
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5);*/
    text-shadow: 10px 10px 10px rgb(255, 255, 255);
    border-radius: 20px;
   /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    border: none;
}

.btn-main:hover{
    
   box-shadow: rgba(255, 255, 255, 0.7) 0px 2px 4px 0px, rgba(255, 255, 255, 0.7) 0px 2px 16px 0px; 
    

}

.btn:focus{
    border: none;
    outline: none;
    box-shadow: none;
}


.modal-content {
   
    border-radius: 20px;
    background: radial-gradient(ellipse at center, #29382c 0%, #0c100d 100%);

    box-shadow: 0 0 20px white;

}

.close{
    display: flex;
    justify-content: center;
}
