*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: black; */
}

#glcanvas{
    border: 1px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

}